BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInAngles: false
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
Standard: Cpp17
Language: Cpp
DisableFormat: false
