# Caches
.DS_Store
__pycache__/
/*cache/
.ipynb_checkpoints/
/data/

# Distribution / packaging
/dist/
/src/**/_version.py

# Sphinx documentation
/docs/_build/
/docs/generated/
/docs/api/generated/

# Venvs
*venv/
