[envs.default]
installer = "uv"
features = [ "dev" ]

[envs.hatch-test]
features = [ "test", "rapids12" ]

[envs.docs]
features = [ "doc" ]
scripts.build = "sphinx-build -M html docs docs/_build {args}"
scripts.clean = "git clean -fXd docs"

[envs.default.pip]
extra_index_urls = [
    "https://pypi.nvidia.com",
]
