[build-system]
build-backend = "flit_core.buildapi"
requires = [
    "flit_core >=3.4,<4",
    "setuptools_scm",
    "importlib_metadata>=0.7; python_version < '3.10'",
]

[project]
name = "rapids_singlecell"
description = "running single cell analysis on Nvidia GPUs"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [{name = "Severin Dicks"}]
readme = {file = "README.md", content-type="text/markdown"}
dynamic = ["version"]


dependencies = [
    "anndata>=0.7.4",
    "numpy>=1.17.0",
    "decoupler>=1.3.2",
    "scipy>=1.4",
    "pandas>=1.0",
    "natsort",
    "scikit-misc>=0.1.3",
    "matplotlib>=3.4",
    "seaborn",
    "tqdm",
    "statsmodels>=0.12.0",
]

[project.optional-dependencies]
rapids = ["cudf-cu11", "cuml-cu11", "cugraph-cu11"]

[project.urls]
Documentation = "https://rapids-singlecell.readthedocs.io"
Source = "https://github.com/Intron7/rapids_singlecell"

[tool.black]
line-length = 88
target-version = ['py38']
include = '^rapids_singlecell/.*\.py$'

[tool.flit.sdist]
exclude = [
    "rapids_singlecell/tests",
]
