myst-nb
typing_extensions
importlib_metadata
sphinx_rtd_theme==1.1.1
scanpydoc[typehints]>=0.7.4
sphinx-copybutton
matplotlib
sphinx==4.5.0
readthedocs-sphinx-ext
Jinja2==2.11.3
nbsphinx==0.8.12
ipython
anndata
numpy
pandas
cycler
markupsafe==2.0.1
